h1, h2 {
    color: #10517c;
}

p, ul {
    font-size: 1.2em;
    line-height: 1.6;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

form button:hover {
    background-color: #555;
}
