.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #124592;
    padding: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.flex-container > h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.flex-container form div {
    margin-bottom: 15px;
}

.flex-container form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.flex-container form input,
.flex-container form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #131212;
    border-radius: 5px;
}

.flex-container form button {
    background-color: #368d39;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.flex-container form button:hover {
    background-color: #45a049;
}
